site_name: beezy.dev 
site_url: https://beezy.dev

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - git-authors
  - git-committers:
      repository: beezy-dev/verbose-couscous
      branch: main 
#       token: !ENV GH_TOKEN

theme:
  font:
    text: Prosto One Regular
    code: Red Hat Mono
  favicon: images/beezydev-website-favicon-color.png
  features:
    - navigation.indexes
    - content.code.annotate
    - navigation.top
  icon:
    logo: fontawesome/solid/code-merge
    repo: fontawesome/brands/github
  name: material
  palette: 
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to system preference
extra_css: 
  - stylesheets/extra.css
extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/beezy-dev/verbose-couscous
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@beezydev 
  generator: true
copyright: Apache-2.0 License. 
repo_url: https://github.com/beezy-dev/verbose-couscouse 
repo_name: beezy-dev/verbose-couscous
edit_uri: edit/main/docs/

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - pymdownx.details
  - def_list
  - md_in_html
  - pymdownx.snippets:
      base_path: 'docs/'
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Projects: 'index.md'
  - Contributing: 'CONTRIBUTING.md'
  - Projects:
    - EchoCD:
      - echocd/index.md
    - pancake: 
      - pancake/index.md    
      - Architecture:
        - Concepts: 'pancake/concepts.md' 
        - Architecture: 'pancake/architecture.md'
      - Deploying:
        - Requirements: 'pancake/bom.md'
        - Hardware: 'pancake/hardware.md' 
        - Software: 'pancake/software.md'
        - Operating: 'pancake/ops.md' 
      - Development: 'pancake/devenv.md'
    - verbose-couscous:
      - verbose-couscous/index.md
  - Reference: 'community.md'
  - Support: 'support.md'