site_name: beezy.dev 
site_url: https://beezy.dev

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - git-authors
  - git-committers:
      repository: beezy-dev/verbose-couscous
      branch: main 
#       token: !ENV GH_TOKEN

theme:
  font:
    text: Red Hat Text
    code: Red Hat Mono
  favicon: images/beezydev-website-favicon-color.png
  features:
    - content.code.annotate
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - content.code.copy
    - content.code.select
  icon:
    logo: fontawesome/solid/code-merge
    repo: fontawesome/brands/github
  name: material
  palette: 
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to system preference
# extra_css: 
#   - stylesheets/extra.css
extra:
  consent:
    actions:
      - accept
      - reject
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/beezy-dev/verbose-couscous
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@beezydev 
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/romdalf 
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/romdalf/
  generator: true
copyright: > 
  Apache-2.0 License - 
  <a href="#__consent">Change cookie settings</a>
repo_url: https://github.com/beezy-dev/verbose-couscous 
repo_name: beezy-dev/verbose-couscous
edit_uri: edit/main/docs/

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - pymdownx.details
  - def_list
  - md_in_html
  - pymdownx.snippets:
      base_path: 'docs/'
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true  
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - about: 
    - index.md
    - contributing: contribute.md
    - reference: community.md
    - support: support.md
    #- Echo CA:
    #  - echo-ca/index.md
    - Unmanned Ground Vehicle: 
      - pancake/index.md  
      - phase 0 - Build a UGV: pancake/phase0.md
      - phase 1 - Code a UGV: pancake/phase1.md
      - phase 2: pancake/phase2.md
      - phase 3: pancake/phase3.md
      - extensions:
        - ground detection: pancake/nfc.md
    - multi-cloud networking: 
      - shiny-octo-spoon/index.md
    - verbose-couscous:
      - verbose-couscous/index.md
  # - Articles:
  #   - Secrets in Kubernetes: community/k8s-secrets.md
  - terminology: pancake/concepts.md
